# This workflow validates our Terraform modules.
name: validate-modules
run-name: ${{ github.workflow }}
on:
  workflow_call:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

env:
  TERRAFORM_REL_MOD_DIR: terraform/modules
  TERRAFORM_ABS_MOD_DIR: ${{ github.workspace }}/terraform/modules

jobs:
  # Retrieve and export all of the modules in the "terraform/modules" directory as a JSON array.
  select-modules:
    name: select-modules
    runs-on: ubuntu-latest
    outputs:
      modules: ${{ steps.select-all-modules.outputs.modules }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Select all modules
        id: select-all-modules
        working-directory: ${{ env.TERRAFORM_ABS_MOD_DIR }}
        run: |
          modules=( $(ls ./) )
          modules_json=$(jq -c -n '$ARGS.positional' --args "${modules[@]}")
          echo "Selected modules: $modules_json"
          echo "modules=$modules_json" >> $GITHUB_OUTPUT

  # Validate the Terraform modules in matrix jobs. Each module has its own matrix job.
  # If one or more matrix jobs fail, then the rest carry on normally and are not canceled.
  validate-module:
    name: validate-${{ matrix.module }}-module
    needs: select-modules
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      fail-fast: false
      matrix:
        module: ${{ fromJson(needs.select-modules.outputs.modules) }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup terraform
        uses: hashicorp/setup-terraform@v2
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Run tfsec
        uses: aquasecurity/tfsec-action@v1.0.3
        with:
          working_directory: ${{ env.TERRAFORM_ABS_MOD_DIR }}/${{ matrix.module }}
          soft_fail: false
          additional_args: "--concise-output"
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Terraform fmt
        working-directory: ${{ env.TERRAFORM_ABS_MOD_DIR }}/${{ matrix.module }}
        run: terraform fmt -check

      - name: Terraform init
        working-directory: ${{ env.TERRAFORM_ABS_MOD_DIR }}/${{ matrix.module }}/validate
        run: terraform init

      - name: Terraform validate
        working-directory: ${{ env.TERRAFORM_ABS_MOD_DIR }}/${{ matrix.module }}/validate
        run: terraform validate -no-color
